.Skills {
    // display: grid;
    grid-template-columns: 35% 65%;
    padding: 7rem 4rem 5rem 4rem;
    background-color: #edf2f8;
    height: auto;
    width: auto;
    @media (max-width: 800px){
        padding: 5rem 2rem 3rem 2rem;
    }

    &__Title {
        padding: 0rem 1rem 0rem 1rem;
        width: 60%;
        @media (max-width: 800px){
            padding: 0;
            height: auto;
            width: 100%;
        }

        &__Title {
            font-size: 55px;
        }

        &__Description {
            font-size: 24px;
        }
    }

    &__Content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5%;
        
        height:auto;
        @media (max-width: 800px){
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
            grid-gap: 2rem;
        }

        &__Block {
            margin: 1rem 1rem 1rem 0;
            // background-color: red;
            &__Title {
                font-size: 35px;
            }

            &__Description {
                font-size: 21px;
            }
        }
    }
}