.About {
    padding: 10% 3rem;
    height: auto;
    min-height: 39.1rem;
    background-color: white;
    @media (max-width: 800px) {
        padding: 5.5rem 1rem 3rem 1rem;
    }

    &__Header {
        font-size: 55px;
    }

    &__Content {
        font-size: 24px;
    }
}