.About {
    padding: 10% 3rem;
    height: auto;
    min-height: 39.1rem;
    background-color: white;

    &__Header {
        font-size: 55px;
    }

    &__Content {
        font-size: 24px;
    }
}