.Contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5rem 13rem;
  align-content: center;
  align-items: center;
  background-color: #edf2f8;
  height: 100vh;
  min-height: 40rem;
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 7rem 2rem;
    justify-content: center;
  }

  &__Description {
    width: 28rem;
    padding: 0rem 0rem 5rem 0rem;
    align-self: center;

    @media (max-width: 850px) {
      width: 80%;
      padding: 0 0 1rem 0;
      margin: 0 auto;
    }

    &__Title {
      font-size: 66px;
      color: rgb(42, 42, 42);
    }

    &__Description {
      font-size: 26px;
      color: rgb(103, 103, 103);
      line-height: 40px;
    }
  }

  &__Form {
    width: 50%;
    font-size: 30px;
    padding-left: 5rem;
    align-self: center;
    @media (max-width: 850px) {
      width: 80%;
      padding: 0 1rem;
    }
  }
  color: rgba(189, 189, 255, 0.775)
}
