.Footer {
    display: flex;
    flex-direction: row;
    

    &__Name {
        
        &__Title {

        }

        &__Icons {
            cursor: pointer
        }
    }

    &__Navigator {

    }
}